# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.iml
.idea
## Directory-based project format:
.idea/
**/.idea
logs/
/download/
/upload/
# Package Files #
### Maven template
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
**/db.sqlite3